/.env
/Correlation Matrix.html
/Excel--Schol Fund Holdings 11-30-24(Sheet1).csv
/Max_Historical_Data.csv
/StockTIckers.csv
/VSMAX_VFIAX_5YR.csv
/Data
/CorrelationMatrix/correlation.csv
/Data/StockTIckers.csv
__pycache__/
*.pyc
*.pyo